main {
  display: flex;
  /* border: solid black; */
  height: 1000px;
  width: 100%;
}

.turn-display-middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid black; */
  width: 40%
}

.turn-text{
  font-size: 50px;
  font-family: fantasy;
}

.win-display-1 {
  /* border: solid black; */
  display: flex;
  justify-content: center;
  width: 30%
}

.win-display-2 {
  /* border: solid black; */
  display: flex;
  justify-content: center;
  width: 30%
}

.gameboard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: yellow;
  /* border: solid black; */
  height: 520px;
  width: 520px;
  /* margin: 5px; */
}

.gameboard__grid {
  background-color: red;
  /* border: solid black; */
  height: 155px;
  width: 155px;
  padding: 5px;
  /* margin: 10px; */
}

.token11, .token12, .token21, .token22, .token31, .token32,
.token41, .token42, .token51, .token52, .token61, .token62,
.token71, .token72, .token81, .token82, .token91, .token92 {
  display: none;
}
