.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: yellow;
  border: solid black;
  height: 588px;
  width: 588px;
  margin: 5px;
}

.gameboard__grid {
  background-color: red;
  border: solid black;
  height: 185px;
  width: 185px;
}
