body {
  display: block;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  /* border: solid black; */
  height: 1000px;
  width: 100%;
}

.turn-display-middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid black; */
  width: 40%
}

.turn-text {
  display: block;
  font-size: 50px;
  font-family: fantasy;
}

.turn-text2 {
  display: none;
  font-size: 50px;
  font-family: fantasy;
}

.win-display-1 {
  /* border: solid black; */
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: #AD23AD;

}

.win-display-2 {
  /* border: solid black; */
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: #AD23AD;
}

.gameboard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #370930;
  /* border: solid black; */
  height: 520px;
  width: 520px;
  /* margin: 5px; */
}

.gameboard__grid {
  background-color: #E683E6;
  /* border: solid black; */
  height: 155px;
  width: 155px;
  padding: 5px;
  /* margin: 10px; */
}

.s1-x, .s1-o, .s2-x, .s2-o, .s3-x, .s3-o,
.s4-x, .s4-o, .s5-x, .s5-o, .s6-x, .s6-o,
.s7-x, .s7-o, .s8-x, .s8-o, .s9-x, .s9-o {
  display: none;
}
